params {
    input = null
    outdir = './results'
    input_file = null
    index_col = 'Index'
    peptide_col = 'Peptide'
    fasta_file = null
    get_position_from_peptide = false
    uniprot_columns = 'accession,id,sequence,protein_name'
    output_filename = 'curtainptm_input.txt'
    sequence_window_size = 21
}

profiles {
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    conda {
        conda.enabled = true
    }
}
